@import "tailwindcss";
/* Custom global styles can be added here */

@font-face {
  font-family: "Street Flow NYC";
  src: url("/fonts/StreetFlowNYC.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Octin Spraypaint";
  src: url("/fonts/OctinSpraypaint.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
}
